@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
}

.ql-toolbar {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 1px solid #E2E8F0;
    border-bottom: none;
}

.ql-container {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid #E2E8F0;
}

.ql-editor {
    min-height: 200px;
    border-radius: 0;

}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

em,
i {
    font-style: italic;
}